<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
  integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer" />


<footer>


{% if site.footer_sidebar.enabled %}
  {% if site.footer_sidebar.arrangement %}
    <aside class="footer_sidebar footer_aside{% if site.footer_sidebar.auto %}_auto{% endif %}">
      {% for section in site.footer_sidebar.arrangement %}
        {% if section == 'description' and site.footer_sidebar.description.enabled %}
          <section class="footer_sitedescription footer_sitedescription{% if site.footer_sidebar.description.columns and site.footer_sidebar.description.columns >= 0 and site.footer_sidebar.description.columns <= 5 %}{{site.footer_sidebar.description.columns}}{% else %}0{% endif %}">
            {{ site.description }}
          </section>
        {% elsif section == 'customcontent' and site.footer_sidebar.customcontent.enabled %}
          <section class="footer_customcontent footer_customcontent{% if site.footer_sidebar.customcontent.columns and site.footer_sidebar.customcontent.columns >= 0 and site.footer_sidebar.customcontent.columns <= 5 %}{{site.footer_sidebar.customcontent.columns}}{% else %}0{% endif %}">
            {{ site.footer_sidebar.customcontent.data }}
          </section>
        {% elsif section == 'customcontent2' and site.footer_sidebar.customcontent2.enabled %}
          <section class="footer_customcontent2 footer_customcontent2{% if site.footer_sidebar.customcontent2.columns and site.footer_sidebar.customcontent2.columns >= 0 and site.footer_sidebar.customcontent2.columns <= 5 %}{{site.footer_sidebar.customcontent2.columns}}{% else %}0{% endif %}">
            {{ site.footer_sidebar.customcontent2.data }}
          </section>
        {% elsif section == 'categories' and site.footer_sidebar.categories.enabled %}
          <section class="footer_categories footer_categories{% if site.footer_sidebar.categories.columns and site.footer_sidebar.categories.columns >= 0 and site.footer_sidebar.categories.columns <= 5 %}{{site.footer_sidebar.categories.columns}}{% else %}0{% endif %}">
            <h3>Categories</h3>
            <ul>
              {% assign all_categories = "" %}
              {% for post in site.posts %}
                {% assign post_categories = post.categories %}
                {% for category in post_categories %}
                  {% assign all_categories = all_categories | append: category | append: "," %}
                {% endfor %}
              {% endfor %}
              {% assign unique_categories = all_categories | split: "," | uniq %}
              
              {% assign categories_count = site.footer_sidebar.categories.count | default: 100 %}
              {% assign categories_to_display = unique_categories | slice: 0, categories_count %}
              
              {% for category in categories_to_display %}
                <li><a href="{{ site.baseurl }}/categories.html#{{ category }}">{{ category }}</a></li>
              {% endfor %}
            </ul>
          </section>
        {% elsif section == 'tags' and site.footer_sidebar.tags.enabled %}
          <section class="footer_tags footer_tags{% if site.footer_sidebar.tags.columns and site.footer_sidebar.tags.columns >= 0 and site.footer_sidebar.tags.columns <= 5 %}{{site.footer_sidebar.tags.columns}}{% else %}0{% endif %}">
            <h3>Tags</h3>
            <ul>
              {% assign all_tags = "" %}
              {% for post in site.posts %}
                {% assign post_tags = post.tags %}
                {% for tag in post_tags %}
                  {% assign all_tags = all_tags | append: tag | append: "," %}
                {% endfor %}
              {% endfor %}
              {% assign unique_tags = all_tags | split: "," | uniq %}
              
              {% assign tags_count = site.footer_sidebar.tags.count | default: 100 %}
              {% assign tags_to_display = unique_tags | slice: 0, tags_count %}
              
              {% for tag in tags_to_display %}
                <li><a href="{{ site.baseurl }}/tags#{{ tag }}">{{ tag }}</a></li>
              {% endfor %}
            </ul>
          </section>
        {% elsif section == 'recentposts' and site.footer_sidebar.recentposts.enabled %}
          <section class="footer_recentposts footer_recentposts{% if site.footer_sidebar.recentposts.columns and site.footer_sidebar.recentposts.columns >= 0 and site.footer_sidebar.recentposts.columns <= 5 %}{{site.footer_sidebar.recentposts.columns}}{% else %}0{% endif %}">
            <h3>Recent Posts</h3>
            <ul>
              {% assign recentposts_count = site.footer_sidebar.recentposts.count | default: 5 %}
              {% assign recent_posts = site.posts | reverse %}
              {% for post in recent_posts limit:recentposts_count %}
                <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </section>
        {% endif %}
      {% endfor %}
    </aside>
  {% endif %}
{% endif %}





  {% if site.footer_links.size > 0 %}
  <div class="social-icons item3">
    {% for link in site.footer_links %}
      {% if link.icon %}
        <a href="{{ link.url }}" class="{{ link.icon }}" target="_blank"></a>
      {% else %}
        <a href="{{ link.url }}">{{ link.title }}</a>
      {% endif %}
      {% unless forloop.last %}
        <span class="divider"></span>
      {% endunless %}
    {% endfor %}
  </div>
  {% endif %}

</footer>