/* Breakpoint widths */
$small: 320px !default;
$medium: 768px !default;
$large: 1024px !default;
$xlarge: 1280px !default;

$darker: #060606;
$dark: #404040;
$mid: #9c9b9b;
$light: #fafafa;
$lighter: #fff;

$orange: #fa991c;
$lightgrey: #fbf3f2;
$lightblue: #1c768f;
$darkblue: #032539;
