#categories {
	width: 100%;
}

#categories h1 {
	@include page_title();
}

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* Style the categorie list */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */


.categories_all {
	@include showlinks(3);
}



/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* Only show posts when categorie is selected */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

.category_posts {
	display: none;

	h2 {
		margin-bottom: 2em;
		text-transform: lowercase;
	}
}

.category_posts:target {
	display: block;
}

/* Hide the anchor from the URL bar */
#categories :target::before {
	content: "";
	display: block;
	height: 100px;
	margin-top: -100px;
	visibility: hidden;
}


/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* results Style */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */


.categories_findresult {
	@include findresults();
}

.categories_date {
	@include findresults_date();
}

.categories_day {
	@include findresults_day();
}


.categories_summary {
	@include findresults_summary();
}

